body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-image: url("./wp5.png");
    background-size: cover;

}

@font-face {
    font-family: 'Transformers';
    src: url('./styles/Transformers\ Movie.ttf');
  }
  .title{
    font-family: 'Transformers';
  }

  .trans{
    font-family: 'Wallpoet';
  }

  
button:hover {
    cursor: pointer;
    width: 155px;
    border: 6px solid white;
  } 


  @media (max-width: 1090px) {
    .first_animation {
      flex-direction: column;
      top: 2%; 
      width: 90vw;
      height: auto; 
    }
    .smallwindow {
      font-size: 20px;
      margin-top: 1%;
    }
    body {
      overflow-x: hidden;
    }
  }
