body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-image: url("./wp5.png");
    background-size: cover;

}

@font-face {
    font-family: 'Transformers';
    src: url('./styles/Transformers\ Movie.ttf');
  }
  .title{
    font-family: 'Transformers';
  }

  .trans{
    font-family: 'Wallpoet';
  }

  
button:hover {
    cursor: pointer;
    width: 155px;
    border: 6px solid white;
  } 

/* 
  @media (max-width: 1090px) {
    body {
      overflow-x: hidden;
    }
  }

  @media (max-width: 320px) {
    body {
      overflow-x: hidden;
      box-sizing: border-box;
    }
    .title{
      font-size: 20px;
    }
    .design{
      top: 10%;
      height: 20dvh;
      border: 2px solid white;
      background-color: red;
      position: fixed;
      left: 0;
      width: 100vw;
      z-index: 99999;
      text-align: left;

    }

    .design h1 span{
      font-size: 20px;
      position: absolute;    
    }
    .first_animation{
      top: 100dvh;
      border: 2px solid white;
      flex-direction: column;  
  }
  .style{
    top: 220dvh;
    font-size: 15px;
    position: fixed;
  }
  .mainphone{
    top: 180dvh;
  }
  } */
